.base {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  padding-left: 2vw;
}

.base_moments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 5vw;
}

.base_title {
  color: aliceblue;
  text-align: center;
  margin-bottom: 15px;
}